@import './abstracts/variables';

@font-face {
  font-family: $dx-presStart;
  src: url('../fonts/press-start-2p-v8-latin-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    height: 100vh;
    background-color: $light;
}

.neumorphism-light {
    background: $light;
    box-shadow: $box-shadow-light;
    border-radius: 12px;
}

.neumorphism-dark {
    background: $dark;
    box-shadow: $box-shadow-dark;
    border-radius: 12px;
}

.container {
  &-loading, &-state {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

/* ScrollBar */

/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $gray50; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $secoundary; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $secoundary; 
  }

.retro-btn {
  position: relative;
  background: $primary;
  font-family: $dx-presStart;
  padding: 20px;
  text-decoration: none; 
  color: white;
  text-align: center;
  box-shadow: inset (-4px) (-4px) 0px 0px #4AA52E;
  &:before,
  &:after {
  content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      box-sizing: content-box;
  }

  &:before {
      top: -6px;
      left: 0;
      border-top: 6px black solid;
      border-bottom: 6px black solid;
  }

  &:after {
      left: -6px;
      top: 0;
      border-left: 6px black solid;
      border-right: 6px black solid;
  }

  &:hover,
    &:focus {
        background: #76c442;
        box-shadow: inset (-4px*1.5) (-4px*1.5) 0px 0px #4AA52E;
    }
}