@import './abstracts/variables';
@import './mixins';

@font-face {
  font-family: $dx-presStart;
  src: url('../fonts/press-start-2p-v8-latin-regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
    margin: 0;
    height: 100vh;
    font-family: $dx-presStart;
    font-size: $dx-small;
}

.neumorphism-light {
    box-shadow: $box-shadow-light;
    border-radius: 12px;
}

.neumorphism-dark {
    box-shadow: $box-shadow-dark;
    border-radius: 12px;
}

.dark {
  background: $dark;
  color: $white
}

.white {
  background: $white;
  color: $dark;
}

.layout {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 0.4fr) repeat(2, 1fr) 0.4fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  height: 100vh;
  transition: background-color 0.5s ease-in;
  .box {
    grid-area: 2 / 2 / 5 / 5;
    display: flex;
    flex-direction: column;
    padding: 2%;
    @include desktop {
      grid-area: 1 / 1 / 6 / 6;
    }
    @include tablet {
      border-radius: unset;
      box-shadow: unset;
    }
  }
}

.container {
  &-loading, &-state {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }
}

/* ScrollBar */

/* width */
::-webkit-scrollbar {
    width: 12px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px $gray50; 
    border-radius: 10px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: $gray400; 
    border-radius: 10px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: $gray400; 
  }

.retro-btn {
  position: relative;
  background: $primary;
  font-family: $dx-presStart;
  padding: 20px;
  text-decoration: none; 
  color: white;
  text-align: center;
  box-shadow: inset (-4px) (-4px) 0px 0px #4AA52E;
  &:before,
  &:after {
  content: '';
      position: absolute;
      width: 100%;
      height: 100%;
      box-sizing: content-box;
  }

  &:before {
      top: -6px;
      left: 0;
      border-top: 6px black solid;
      border-bottom: 6px black solid;
  }

  &:after {
      left: -6px;
      top: 0;
      border-left: 6px black solid;
      border-right: 6px black solid;
  }

  &:hover,
    &:focus {
        background: #76c442;
        box-shadow: inset (-4px*1.5) (-4px*1.5) 0px 0px #4AA52E;
    }
}