@import '../../../assets/styles/abstracts/variables';

.layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 0.4fr) repeat(2, 1fr) 0.4fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    .box {
        grid-area: 2 / 2 / 5 / 5;
        display: flex;
        flex-direction: column;
        padding: 2%;
        border-radius: 12px;
        box-shadow: $box-shadow-card;
        .container-search {
            display: flex;
            align-items: center;
            margin-bottom: 2%;
            height: 15%;
        }
        .container-users {
            display: flex;
            flex-wrap: wrap;
            overflow-y: scroll;
            align-items: center;
            justify-content: center;
            height: 85%;
            .github-user {
                width: 33%;
                padding: 0 20px 20px;
                &:hover {
                    opacity: .5;
                    transition: .9s;
                }
            }
        }
    }
}
