<div class="repository">
    <div class="repository-left">
        <div class="repository-left-type" [ngClass]="(repository.private) ? 'private' : 'public'">
            <span *ngIf="repository.private">
                Private
            </span>
            <span *ngIf="!repository.private">
                Public
            </span>
        </div>
        <div class="repository-left-info">
            <h5>{{repository.name}}</h5>
            <div>{{repository.created_at}}</div>
        </div>
    </div>
    <div class="repository-right">
        <div class="repository-right-size">
            <div>size:</div>
            <div [ngClass]="(repository.private) ? 'private' : 'public'">{{repository.size}}</div>
        </div>
        <div class="repository-right-forks">
            <div>forks:</div>
            <div [ngClass]="(repository.private) ? 'private' : 'public'">{{repository.forks}}</div>
        </div>
    </div>
</div>
