<div class="repository">
    <div class="repository-left">
        <div class="repository-left-type">
            <div class="private" *ngIf="repository.private">
                private
            </div>
            <div class="public" *ngIf="!repository.private">
                public
            </div>
        </div>
        <div class="repository-left-info">
            <h3>{{repository.name}}</h3>
            <div>{{repository.created_at}}</div>
            <div>{{repository.updated_at}}</div>
        </div>
    </div>
    <div class="repository-right">
        <div class="repository-right-size">
            <div>size:</div>
            <div>{{repository.size}}</div>
        </div>
        <div class="repository-right-forks">
            <div>forks:</div>
            <div>{{repository.forks}}</div>
        </div>
    </div>
</div>
