<nav class="navbar">
  <form [formGroup]="userForm" novalidate (ngSubmit)="submit()" class="form-inline">
    <div class="search-input">
      <input
        class="form-control mr-sm-2"
        type="search"
        formControlName="name"
        id="name" 
        placeholder="Search"
        aria-label="Search"
        required
      />
      <div *ngIf="name.invalid && (name.dirty || name.touched)">
        <div *ngIf="name.errors.minlength" class="feedback invalid-feedback">
          Please give me min three characters!
        </div>
      </div>
    </div>
    <button class="btn dx-btn" type="submit">
      Search
    </button>
  </form>
</nav>
