@import '../../../assets/styles/abstracts/variables';

.navbar {
  padding: 0;
  .search-input {
    input {
      font-size: $fs-small;
      border: none;
      background-color: $gray50;
      width: 320px;
      height: 40px;
    }
  }
  .dx-btn {
    font-size: $fs-small;
    background-color: $secoundary;
    height: 40px;
  }
  .invalid-feedback {
    display: block;
    position: absolute;
    width: 100%;
    margin-top: 0.25rem;
    font-size: $fs-small;
    color: #dc3545;
  }
}