@import '../../../assets/styles/abstracts/variables';

.profile {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  img {
    height: 18rem;
    width: 18rem;
    border-radius: 10px;
  }
  &-biography {
    font-size: $fs-small;
    margin: 2% 0;
  }
  &-others {
    color: $gray200;
  }
}