<div class="profile">
  <img src="{{user?.avatar_url}}" alt="" />
  <p class="profile-biography">
    Zombie ipsum reversus ab viral inferno, nam rick grimes malum cerebro. De
    carne lumbering animata corpora quaeritis. Summus brains sit​​, morbo vel
    maleficia? De apocalypsi gorger omero undead survivor dictum mauris.
  </p>
  <div class="profile-others">
    <div class="profile-others--item">Madrid</div>
    <div class="profile-others--item">
        Follwers: <span>20</span>
    </div>
    <div class="profile-others--item">
        Following: <span>106</span>
    </div>
  </div>
</div>
