@import '../../../assets/styles/abstracts/variables';

.layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 0.4fr) repeat(2, 1fr) 0.4fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    .box {
        grid-area: 2 / 2 / 5 / 5;
        display: flex;
        flex-direction: column;
        padding: 2%;
        border-radius: 12px;
        box-shadow: $box-shadow-card;
        .container-resume {
            display: flex;
            align-items: center;
            justify-content: space-between;
            height: 15%;
            &-user {
                display: flex;
                align-items: center;
                width: 25%;
                a {
                    text-decoration: none;
                    color: $primary;
                    .icon-back {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        i {
                            font-size: 3.4em;
                        }
                    }
                }
                .name {
                    font-size: $fs-small;
                    margin-left: 4%;
                }
            }
            &-repository {
                width: 75%;
            }
        }
        .container-user {
            display: flex;
            justify-content: space-around;
            height: 95%;
            padding: 2% 0;
            &--detail {
                width: 35%;
                height: 95%;
                overflow: hidden;
            }
            &--repositories {
                width: 65%;
                height: 90%;
                flex-direction: column;
                overflow-y: scroll;
            }
        }
    }
}