$light: #FFFFFF;
$dark: #262A3B;

$black: #131A2B;
$gray1000: #212A40;
$gray900: #283149;
$gray800: #333D57;
$gray700: #3D4762;
$gray600: #434D68;
$gray500: #49536E;
$gray400: #5D6783;
$gray300: #848FAB;
$gray200: #C3C8D5;
$gray100: #EAECF1;
$gray50: #F5F5F7;
$white: #FFFFFF;

$primary: #23DE72;
$secoundary: #FF4D4E;

/* FONTS */

$dx-presStart: 'dx-presStart';

$dx-small-xs: 0.6em;
$dx-small: 0.8em;
$dx-medium: 1em;
$dx-big: 1.2em;
$dx-big-xl: 1.4em;

/* NEUMORPHISM STYLE */

$box-shadow-light: 8px 8px 16px #c3c7cd, 
-8px -8px 16px #fdffff;
$box-shadow-dark: 8px 8px 16px #212533, 
-8px -8px 16px #2b2f43;

$box-shadow-light-inside: inset 8px 8px 16px #c3c7cd, 
inset -8px -8px 16px #fdffff;
$box-shadow-dark-inside: inset 8px 8px 16px #212533, 
inset -8px -8px 16px #2b2f43;

$box-shadow-card: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);