@import '../../../assets/styles/abstracts/variables';

.layout {
    .box {
        .container-home {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            text-align: center;
            > div {
                font-family: $dx-presStart;
                font-size: $dx-big-xl;
            }
        }
    }
}
