@import '../../../assets/styles/abstracts/variables';

.layout {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 0.4fr) repeat(2, 1fr) 0.4fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    height: 100vh;
    .box {
        grid-area: 2 / 2 / 5 / 5;
        display: flex;
        flex-direction: column;
        padding: 2%;
        border-radius: 12px;
        box-shadow: $box-shadow-card;
        .container-home {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: center;
            height: 100%;
            > div {
                font-family: $dx-presStart;
                font-size: $fs-big-xl;
            }
        }
    }
}
